@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Open+Sans&display=swap');

.App {
  text-align: center;
  margin: 0 auto;
  max-width: 1440px;

}


.Shop {
  position: relative;
  padding-top: 150px;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}