.card {
    display: flex;
    align-items: center;
}

.card-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    max-width: 203px;
    margin-left: 36px;
}

.book-thumbnail {
    box-shadow: 0px 24px 36px 0px #35315447;

}

.book-author {
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 4px;
}

.book-title {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 4px;

}

.book-rate {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

}

.book-stars {
    margin-right: 19px;
}

.reviews-count {
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;

}

.book-discr {
    font-family: Open Sans;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #5C6A79;


    width: 100%;
    margin-bottom: 16px;

}

.book-price {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 16px;

}

.card-button {
    border: 1px solid #4C3DB2;
    width: 176px;
    height: 45px;


    font-family: Montserrat;
    font-size: 8px;
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: center;
    color: #4C3DB2;



}